.body {
    background-color:lightskyblue;
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}
.navbar{
    background-color:lightcyan

}

.greeting1{
    color:darkblue;
    padding-left:10vw;
    font-size:5vw;
}
.card-header{
    color:darkblue;
    padding-left:0.5vw;
    font-size:3vw;
}

.card-body{
    color:darkblue;
    padding-left:0.1vw;
    font-size:2vw;
}
.new-button{

    font-size:2vw;
    padding-left:10vw;
    padding-right:10vw;
    margin-left:21vw;
    color: white;
    border:none;
    outline: none;
    background: #1c8adb;
    border-radius: 20vw;
    text-decoration: none;
}
.delete-button{

    font-size:2vw;
    padding-left:10vw;
    padding-right:8.3vw;
    margin-left:21vw;
    color: white;
    border:none;
    outline: none;
    background: #1c8adb;
    border-radius: 20vw;
    text-decoration: none;
}
.buttons{
    padding-left:5vw;
}
footer{
    color:darkblue;
    display: flex;
    padding-left: 35vw;
    width: 100%;
    height: auto;
    font-size: 2vw;
}