.body {
    background-color:lightskyblue;
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}
.navbar{
    background-color:lightcyan

}
.delete{
    color:white;
    background-color:darkblue;
    padding-left:0.5vw;
    padding-right:0.5vw;
    border-radius:20vw;
    margin-left:3.5vw;
}

.publication{
    display: flex;
    padding-left: 2vw;
    margin-bottom:5vw;
}
.title{
    font-size: 4vw;
    color:darkblue;
}
footer{
    color:darkblue;
    display: flex;
    padding-left: 35vw;
    width: 100%;
    height: auto;
    font-size: 2vw;
}