.body {
    background-color:lightskyblue;
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}
.navbar{
    background-color:lightcyan

}
.img{
    width:210px;
    border: 3px solid darkblue;
    margin-bottom: 10px;
    margin-top:10px ;
}
.name{
    margin-left: 5vw;
    font-size: 25px;
    color:darkblue;
}
.result{
    color:darkblue;
    font-size:60px;
    font-family: 'Great Vibes', cursive;
    padding-left:23vw;
}
footer{
    color:darkblue;
    display: flex;
    padding-left: 35vw;
    width: 100%;
    height: auto;
    font-size: 2vw;
}