.body {
    background-color:lightskyblue;
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}
.navbar{
    background-color:lightcyan

}
.delete{
    font-size:2.5vw;
    color:white;
    background-color:darkblue;
    padding-left:5vw;
    padding-right:5vw;
    border-radius:20vw;
    margin-left:5vw;
}


.comments-list{
    font-size: 5vw;
    color:darkblue;
    margin-left:10vw;
    margin-bottom:10vw;
}

.comment-username{
    font-size:4vw;
    color:darkblue;
    padding-left:5vw;

}
.comment-text{
    width: 50%;
    padding-left: 0.1vw;
    color:darkblue;
    border-left: 0.1vw solid darkblue;
    margin-left: 1vw;
    margin-right: 2000vw;
    font-size:3vw;
}

footer{
    color:darkblue;
    display: flex;
    padding-left: 35vw;
    width: 100%;
    height: auto;
    font-size: 2vw;
}