<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Watch&Relax</title>

    <link rel="stylesheet" href="/css/actor-info-style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="body">
<header>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">W&R</a>
            </div>

            <ul class="nav navbar-nav navbar-right" th:object="${username}">
                <li><a th:href="@{/home/(username=${username})}"><span class="glyphicon glyphicon-user"></span> Home</a></li>
                <li><a th:href="@{/film/add/(username=${username})}"><span class="glyphicon glyphicon-log-in"></span>Add Film</a></li>
                <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div th:object="${actor}">
        <table>
            <thead>
            <tr>
                <th>
                    <img class="img-actor" th:src="*{photoUrl}" alt="Film Picture">
                    <p th:text="*{nickName}" class="actor-name"></p>
                    <a class="view-comments" th:href="@{/actor/seeComments/(id=*{id})}">Comments</a>
                </th>
                <th>
                    <div class="comment-box">
                        <form th:object="${commentAddBindingModel}" th:action="@{/actor/addComment/(id=${actor.id})}" method="post">
                            <p>Write a comment with max 50 symbols</p>
                            <textarea  class="comment" type="text" name="comment" placeholder="Enter comment"></textarea>
                            <small  th:each = "e : ${#fields.errors('comment')}" th:text = "${e}" class="text-danger"></small>
                            <input type="submit" name="submit" value="Add comment">
                        </form>
                    </div>

                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="link-actor">
                        <a class="gallery" th:href="@{/actor/gallery/(id=*{id})}">Gallery</a>
                        <a class="videos" th:href="@{/actor/videos/(id=*{id})}">Videos</a>
                        <a class="videos" th:href="@{/actor/youtube-videos/(id=*{id})}">YouTube-Videos</a>
                        <a class="news" th:href="@{/actor/newsList/(id=*{id})}">News' list</a>
                    </div>
                    <br>
                    <div th:if="${isYourActor}" class="link-actor-add">
                        <a class="add-photo" th:href="@{/photo/add/(id=*{id})}">Add Photo</a>
                        <a class="add-video" th:href="@{/video/add/(id=*{id})}">Add Video</a>
                        <a class="add-news" th:href="@{/news/add/(id=*{id})}">Add news</a>
                        <a class="add-news" th:href="@{/actor/delete/(id=*{id})}">Delete</a>
                    </div>
                </td>
                <td></td>
            </tr>
            </thead>
        </table>
        <br>
        <br>
        <br>
        <div class="info-actor">
            <div>
                <p th:text= "|Full name *{fullName}|"></p>
            </div>
            <div>
                <p th:text= "|Gender: *{gender}|"></p>
            </div>
            <div>
                <p th:text= "|Data of birth: *{dateOfBirth}|"></p>
            </div>
            <div>
                <p th:text= "|Country: *{country}|"></p>
            </div>
            <div>
                <p th:text= "|Partner: *{partner}|"></p>
            </div>
            <div>
                <p th:text= "|Children: *{children}|"></p>
            </div>
        </div>
        <br>
        <article class="description" th:text="*{description}"></article>
    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:Watch&Relax
    </div>
</footer>

</body>

</html>