<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Watch&Relax</title>
    <link rel="stylesheet" href="/css/add-video-style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
<header>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">W&R</a>
            </div>

            <ul class="nav navbar-nav navbar-right" th:object="${username}">
                <li><a th:href="@{/home/(username=${username})}"><span class="glyphicon glyphicon-user"></span> Home</a></li>
                <li><a th:href="@{/film/add/(username=${username})}"><span class="glyphicon glyphicon-log-in"></span>Add Film</a></li>
                <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="video-box" th:object="${id}">
        <h1>Add video</h1>
        <form th:object="${videoAddBindingModel}" th:action="@{/video/add/(id=${id})}" method="POST" enctype="multipart/form-data">
            <div>
                <p>Name of film, whose video you add</p>
                <input th:field="*{filmName}" th:errorclass="bg-danger" type="text" name="name" placeholder="Enter film name">
                <small  th:each = "e : ${#fields.errors('filmName')}" th:text = "${e}" class="text-danger"></small>
            </div>
           <div>
               <p>Name of actor, whose video you add</p>
               <input th:field="*{actorName}" th:errorclass="bg-danger" type="text" name="name" placeholder="Enter actor name">
               <small  th:each = "e : ${#fields.errors('actorName')}" th:text = "${e}" class="text-danger"></small>
           </div>
            <div>
                <p>Name of video</p>
                <input th:field="*{videoName}" th:errorclass="bg-danger" type="text" name="name" placeholder="Enter name of video">
                <small  th:each = "e : ${#fields.errors('videoName')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p>Enter youtube video</p>
                <input th:field="*{youtubeVideoUrl}" th:errorclass="bg-danger" type="text" name="name" placeholder="Enter youtube link">
            </div>
            <p>Or</p>
            <div>
                <p class="ui-icon-video">Select video</p>
                <input type="file" name="video" placeholder="Enter video" accept="video/*">
            </div>

            <input type="submit" name="submit" value="Add video">
        </form>

    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:Watch&Relax
    </div>
</footer>
</body>
</html>