<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Watch&Relax</title>
    <link rel="stylesheet" href="/css/add-film-style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
<header>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">W&R</a>
            </div>

            <ul class="nav navbar-nav navbar-right" th:object="${username}">
                <li><a th:href="@{/home/(username=${username})}"><span class="glyphicon glyphicon-user"></span> Home</a></li>
                <li><a th:href="@{/film/add/(username=${username})}"><span class="glyphicon glyphicon-log-in"></span>Add Film</a></li>
                <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<main >
    <div class="film-box" th:object="${username}">
        <h1>Add film</h1>
        <form th:object="${filmAddBindingModel}" th:action="@{/film/add/(username=${username})}" method="POST" enctype="multipart/form-data">
            <div>
                <p>Name</p>
                <input th:field="*{name}" th:errorclass="bg-danger" type="text"  placeholder="Enter name">
                <small  th:each = "e : ${#fields.errors('name')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p>Category</p>
                <select class="select" id="category" name="category">
                    <option>Select category</option>
                    <option th:each="o:${T(project.watch_and_relax.model.entity.CategoryName).values()}"
                            th:text="${o}" th:value="${o}"></option>
                </select>
            </div>

           <div>
               <p>Year of starting</p>
               <input th:field="*{yearStarting}" th:errorclass="bg-danger" type="number" name="yearStarting" placeholder="Enter year of starting">
               <small  th:each = "e : ${#fields.errors('yearStarting')}" th:text = "${e}" class="text-danger"></small>
           </div>
           <div>
               <p>Year of ending</p>
               <input th:field="*{yearEnding}" th:errorclass="bg-danger" type="number" name="yearEnding" placeholder="Enter year of ending">
               <small  th:each = "e : ${#fields.errors('yearEnding')}" th:text = "${e}" class="text-danger"></small>
           </div>
           <div>
               <p>Country</p>
               <input th:field="*{country}" th:errorclass="bg-danger" type="text" name="country" placeholder="Enter country">
               <small  th:each = "e : ${#fields.errors('country')}" th:text = "${e}" class="text-danger"></small>
           </div>
            <div>
                <p>Description</p>
                <textarea th:field="*{description}" th:errorclass="bg-danger" type="text" placeholder="Enter description"></textarea>
                <small  th:each = "e : ${#fields.errors('description')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p class="ui-icon-image">Select profile photo</p>
                <input type="file" name="img" placeholder="Enter image" accept="image/*">
            </div>
            <input type="submit" name="submit" value="Add film">
        </form>

    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:Watch&Relax
    </div>
</footer>
</body>
</html>