<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Watch&Relax</title>

    <link rel="stylesheet" href="/css/announcements-style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">

<header>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">W&R</a>
            </div>

            <ul class="nav navbar-nav navbar-right" th:object="${username}">
                <li><a th:href="@{/home/(username=${username})}"><span class="glyphicon glyphicon-user"></span> Home</a></li>
                <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="greeting" id="title">
    <h2 class="greeting1">Welcome to the announcement board!</h2>
</div>

<div class="container">
    <div th:object="${announcement}" th:each="announcement: ${announcements}"
         class="my-3 border-secondary card">
        <div class="card-header" id="nameAnnouncement" >
            <div class="d-flex justify-content-between">
                <div class="col-10">
                    <span th:text="*{title}">Title</span>
                    <small id="date">
                        <em>
                            (last updated on <span th:text="*{#temporals.format(updatedOn, 'dd-MM-yyyy HH:mm')}">1980-01-01</span>)
                        </em>
                    </small>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p th:text="*{description}" class="card-text" id="descriptionAnnouncement"></p>
        </div>
    </div>
</div>
<section class="buttons">
    <div>
        <a th:if="${isAdmin}" th:object="${username}" class="new-button" id="new"
           th:href="@{/announcements/new/(username=${username})}" role="button">
            New Announcement
        </a>
    </div>
    <div >
        <a th:if="${isAdmin}" class="delete-button" id="delete"
           th:href="@{/announcements/delete/(username=${username})}" role="button">
            Delete Announcement
        </a>
    </div>
</section>


<footer>
    <div class="footer">
        &copy;2021 Copyright:Watch&Relax
    </div>
</footer>

</body>
</html>