<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Watch&Relax</title>

    <link rel="stylesheet" href="/css/gallery-style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
<header >
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">W&R</a>
            </div>

            <ul class="nav navbar-nav navbar-right" th:object="${username}">
                <li><a th:href="@{/home/(username=${username})}"><span class="glyphicon glyphicon-user"></span> Home</a></li>
                <li><a th:href="@{/film/add/(username=${username})}"><span class="glyphicon glyphicon-log-in"></span>Add Film</a></li>
                <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div th:each="p:${photos}" th:object="${p}" class="gallery-style">
        <img class="gallery-img" th:src="*{photoUrl}" alt="Picture">
        <a th:if="${isYour}" class="delete" th:href="@{/photo/delete/(id=*{id})}">Delete</a>
    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:Watch&Relax
    </div>
</footer>
</body>
</html>