<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Watch&Relax</title>

    <link rel="stylesheet" href="/css/home-style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
<header>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">W&R</a>
            </div>

            <ul class="nav navbar-nav navbar-right" th:object="${isAdmin}" >
                <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                <li><a th:if="${isAdmin}" th:href="@{/stats/(username=${user.name})}"><span class="glyphicon glyphicon-log-in"></span>Statistics</a></li>
                <li><a th:href="@{/announcements/(username=${user.name})}"><span class="glyphicon glyphicon-log-in"></span>Announcements</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="margins-top-bottom" th:object="${user}">
       <p class="user-name" th:text="${user.getName()}"></p>
        <p class="user-message">Welcome in Watch & Relax, the best social network for movie lovers!
        </p>
        <section class="buttons">
            <div>
                <a class="your-publications" th:href="@{/user/profile/(username=*{name})}">Your publications</a>
            </div>
            <br>
            <br>
            <br>
            <div>
                <a class="users-publications" th:href="@{/user/all-publications/(username=*{name})}">Other users'publications</a>
            </div>
        </section>

        <p class="wish">Enjoy!</p>
    </div>
</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:Watch&Relax
    </div>
</footer>
</body>
</html>