<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Watch&Relax</title>
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
<header>
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">W&R</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>

<div class="login-box">
    <h1>Login</h1>
    <form th:object="${userLoginBindingModel}" th:action="@{/user/login}" method="POST">

        <div>
            <p>Username</p>
            <input th:field="*{username}" th:errorclass="bg-danger" type="text" name="username" placeholder="Enter username">
            <small  th:each = "e : ${#fields.errors('username')}" th:text = "${e}" class="text-danger"></small>
        </div>
        <div>
            <p>Password</p>
            <input th:field="*{password}" th:errorclass="bg-danger" type="password" name="password" placeholder="Enter password">
            <small  th:each = "e : ${#fields.errors('password')}" th:text = "${e}" class="text-danger"></small>
        </div>

        <input type="submit" name="submit" value="Login">
    </form>
</div>

</main>
<footer>
    <div class="footer">
        &copy;2021 Copyright:Watch&Relax
    </div>
</footer>
</body>
</html>